@import url(sanitize.css);

h1 {
    background-color: #ffcccc;
    font-size: 24px;
    margin: 0;
}
label {
    display: block;
    margin-bottom: .5em;
}
div.content {
    width: 600px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
    padding: 8px;
}
input {
    border: none;
    border-bottom: 1px solid #d1d1d1;
    font-size: 16px;
    padding: 8px;
    width: 100%;
}
button {
    width: 100%;
    background-color: #2096F3;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .4);
}