h1, h2 {
    text-align: center;
}

h1 {
    font-size: 1.8em;
    margin: 2em 0;
}

h2 {
    font-size: 1.2em;
}

a {
    color: red;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

div {
    max-width: 800px;
    margin: 0 auto;
}

.toc {
    background-color: lightblue;
    padding: 1em;
}

.toc h2 {
    text-align: left;
}